{
    "auth_service": "google",
    "username": "YOURACCOUNT@gmail.com",
    "password": "YOURPASSWORD",
    "location": "SOME LOCATION",
    "gmapkey": "GOOGLE API KEY",
    "google_directions": true,
    "fill_incubators":true,
    "use_all_incubators":false,
    "cp": 100,
    "max_steps": 50,
    "walk": 4.16,
    "initial_transfer": false,
    "recycle_items": false,
    "pokemon_potential": 0.70,
    "location_cache": true,
    "distance_unit": "km",
    "item_filter": {
        "1": 100,
        "101": 0,
        "102": 0,
        "103": 10,
        "104": 10,
        "201": 10,
        "202": 10
    }
}
